body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

.carousel-container {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: flex-start; /* Centrer verticalement */
    overflow: hidden;
}

.carousel-slide {
    flex: 0 0 50%; /* Affiche deux images à la fois */
    padding: 10px;
    box-sizing: border-box;
	position: relative; /* Ajouté */
}

.carousel-slide img {
    width: 450px;
    height:500px;
    object-fit: cover; /* Redimensionner l'image pour couvrir toute la zone */
    border-radius: 20px;
}

.carousel-arrow {
    cursor: pointer;
    color: red;
    margin: 0 10px;
    font-size: 40px;
    font-weight: bold;
    transition: font-size 0.3s ease; /* Ajouté pour une transition en douceur */
    background-color:#ebebeb; /* Arrière-plan transparent */
    backdrop-filter: blur(2px); /* Ajout de l'effet de flou */
    border-radius: 20px;
}

#prev::before {
    content: "<"; /* Remplace le texte du bouton par < */
}

#next::after {
    content: ">"; /* Remplace le texte du bouton par > */
}

.carousel-arrow:hover {
    font-size: 45px; /* Augmente la taille au survol */
}

.carousel-arrow:active {
    font-size: 50px; /* Augmente la taille au clic */
}    

.carousel-slide p {
    width: 70ch; /* Limite la largeur du texte à 70 caractères */
    word-wrap: break-word; /* Permet au texte de passer à la ligne */
}



.title-container {
    text-align: center; /* Centrer le titre */
    padding: 20px; /* Ajouter un peu d'espace autour du titre */
}

.carousel-container h2 {
    margin-top: -40px;
}


.icons {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    padding: 10px;
    border-radius: 5px;
}

.icons a {
    color: white;
    margin: 0 5px;
}

.icons a:active, .icons a:hover {
    color: red;
    transform: scale(1.3);
}


.carousel-slide:hover .icons {
    display: block;
}

/*.carousel-slide h3, .carousel-slide p {
    background-color: rgba(255, 255, 255, 0.7); /* Arrière-plan semi-transparent 
    backdrop-filter: blur(10px); /* Ajout de l'effet de flou 
    border-radius: 10px; 
}*/

.carousel-slide h3 {
    color: red;
}

.carousel-slide p {
    color: gray;
}

